<h3>home</h3>

<div>
    <%= link_to 'logout', destroy_user_session_path, method: :delete %>
</div>

<div>
    <%= link_to '写真投稿', [:new, :photo] %>
    <%# photosにするとエラーになる理由を明確にする %>
</div>


<%# <% @photo.each do |photo| ← これでも動く %>
<%# <% current_user.photos.each do |photo| %>
<%# current_user.photos.each do |photo|のように記述できる理由がわからない %>
    <%# <div> %>
        <%# <p><%= photo.caption %>
        <%# <%= image_tag photo.image %>
    <%# </div> %>
<%# <% end %>


<% User.all.each do |user| %>
    <div>
        <%= link_to user.email, [user] %>
        <%# [user]は配列がなくても動く。 %>
    </div>
<% end %>